-
    const aydinlatmaMetni = require('../assets/aydinlatma-metni.pdf')
    const kvkkBasvuru = require('../assets/kvkk-basvuru-formu.pdf')
    const kvkkPolitika = require('../assets/kvkk-politikasi.pdf')
    const cerezPolitika = require('../assets/cerez-politikasi.pdf')

footer(class='bg-white text-primary pb-8 pt-14 lg:pt-28')
    div(class='container bg-white grid gap-4 lg:grid-cols-5 lg:gap-4')
        div(class='flex justify-center lg:block')
            a(href='/')
                img(src=dirAssets + '/kiler-logo-dark.png' alt='kiler iplik logo' class='w-[200px] lg:w-[260px]')
        div(class='flex justify-center lg:border-r-2 lg:border-b-0 border-b-2 border-r-0 border-primary py-4 lg:py-0 lg:px-3')
            ul(class='flex flex-col gap-4 font-bold items-center lg:items-start')
                li
                    a(href='/en') Home
                li
                    a(href='/en/about.html') About
                li
                    a(href='/en/vision-mission.html') Vision
                li
                    a(href='/en/vision-mission.html') Mission
        div(class='flex justify-center lg:border-r-2 lg:border-b-0 border-b-2 border-r-0 border-primary py-4 lg:py-0 lg:px-3')
            ul(class='flex flex-col gap-4 font-bold items-center lg:items-start')
                li
                    a(href='/en/open-end-yarn-production.html') Open - End Yarn Production
                li
                    a(href='/en/ring-yarn-production.html') Ring Yarn Production
                li
                    a(href='/en/production-facility.html') Our Production Facility
                li
                    a(href='/en/r-d-investment.html') R&D Investment
        div(class='flex justify-center lg:border-r-2 lg:border-b-0 border-b-2 border-r-0 border-primary py-4 lg:py-0 lg:px-3')
            ul(class='flex flex-col gap-4 font-bold items-center lg:items-start')
                li
                    a(href='/en/news.html') Opening and Press Releases
                li
                    a(href='/en/gallery.html') Gallery
        div(class='flex justify-center')
            div(class='flex flex-col items-center max-w-72 lg:max-w-max lg:items-start')
                a(href="/en/contact.html" class='font-bold border-b-2 border-primary') Contact
                hr(class='my-1')
                p 
                    | Emniyet Evleri Mah. Eski Büyükdere Cad.No:1/1 Kat:7 34415 Kağıthane/İSTANBUL
                p
                    a(href='tel:+902124567070') (0212) 456 70 70
                p
                    a(href='mailto:bilgi@kileriplik.com') bilgi@kileriplik.com

    div(class='container bg-white mt-4 grid gap-2 lg:grid-cols-5 lg:gap-4 lg:mt-12')
        div 
        div(class='flex justify-center')
            a(href=aydinlatmaMetni target='_blank') Disclaimer
        div(class='flex justify-center')
            a(href=kvkkBasvuru target='_blank') PDPL Application Form
        div(class='flex justify-center')
            a(href=kvkkPolitika target='_blank') PDPL Policy
        div(class='flex justify-center')
            a(href=cerezPolitika target='_blank') Cookie Policy
